@use "_Forward" as var;
.Layer {
    .LayerHeader {
        width: auto;
        margin: 32px 0;
    }
    .LayerContent {
        //スキルチャート用
        .SkillChart {
            display: flex;
            .ChartArea {
                width: -webkit-fill-available;
                // background-color: var.$color-gray--main;
            }
        }
    }
}